node_red_update_display.flow
[
    {
        "id": "ee7dfcae62a1d1d1",
        "type": "subflow",
        "name": "B+ MQTT to main",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 80,
                "y": 100,
                "wires": [
                    {
                        "id": "a49cd7b39edf50ad"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "96d164091bca558c",
        "type": "mqtt out",
        "z": "ee7dfcae62a1d1d1",
        "name": "value",
        "topic": "",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e6dbd5fb3f32ec20",
        "x": 730,
        "y": 360,
        "wires": []
    },
    {
        "id": "523048e5478dc2ba",
        "type": "change",
        "z": "ee7dfcae62a1d1d1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "label",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 300,
        "wires": [
            [
                "b18f1afeaa130737"
            ]
        ]
    },
    {
        "id": "b18f1afeaa130737",
        "type": "mqtt out",
        "z": "ee7dfcae62a1d1d1",
        "name": "title",
        "topic": "",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e6dbd5fb3f32ec20",
        "x": 730,
        "y": 300,
        "wires": []
    },
    {
        "id": "e343e9a04e0cf6df",
        "type": "mqtt out",
        "z": "ee7dfcae62a1d1d1",
        "name": "uom",
        "topic": "",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e6dbd5fb3f32ec20",
        "x": 730,
        "y": 240,
        "wires": []
    },
    {
        "id": "2906bb2e666b787a",
        "type": "change",
        "z": "ee7dfcae62a1d1d1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "uom",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 240,
        "wires": [
            [
                "e343e9a04e0cf6df"
            ]
        ]
    },
    {
        "id": "4b58c6126865041d",
        "type": "function",
        "z": "ee7dfcae62a1d1d1",
        "name": "concat uom",
        "func": "var appendix='uom'\nmsg.topic = msg.topic.concat(appendix)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 240,
        "wires": [
            [
                "2906bb2e666b787a"
            ]
        ]
    },
    {
        "id": "ef07977994e4e2f4",
        "type": "function",
        "z": "ee7dfcae62a1d1d1",
        "name": "concat label",
        "func": "var appendix='label'\nmsg.topic = msg.topic.concat(appendix)\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 300,
        "wires": [
            [
                "523048e5478dc2ba"
            ]
        ]
    },
    {
        "id": "7611744803215c96",
        "type": "function",
        "z": "ee7dfcae62a1d1d1",
        "name": "concat value",
        "func": "var appendix='value'\nmsg.topic = msg.topic.concat(appendix)\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 360,
        "wires": [
            [
                "96d164091bca558c"
            ]
        ]
    },
    {
        "id": "a49cd7b39edf50ad",
        "type": "function",
        "z": "ee7dfcae62a1d1d1",
        "name": "set topic",
        "func": "msg.topic = \"buttonplus/\"+msg.device+\"/display/\"+msg.page+\"/\"+msg.displayitem+\"/\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 300,
        "wires": [
            [
                "4b58c6126865041d",
                "ef07977994e4e2f4",
                "7611744803215c96"
            ]
        ]
    },
    {
        "id": "e6dbd5fb3f32ec20",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.7",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1044a74b4adb9c61",
        "type": "tab",
        "label": "Button+",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b5eadadbf165db94",
        "type": "subflow:ee7dfcae62a1d1d1",
        "z": "1044a74b4adb9c61",
        "name": "",
        "x": 730,
        "y": 180,
        "wires": []
    },
    {
        "id": "76595fb85bdd4174",
        "type": "debug",
        "z": "1044a74b4adb9c61",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 240,
        "wires": []
    },
    {
        "id": "9194324548900780",
        "type": "subflow:ee7dfcae62a1d1d1",
        "z": "1044a74b4adb9c61",
        "name": "",
        "x": 910,
        "y": 840,
        "wires": []
    },
    {
        "id": "73268ba66a7f962a",
        "type": "function",
        "z": "1044a74b4adb9c61",
        "name": "change label",
        "func": "var label=msg.label\n\nif (label == \"Sander\"){\n    msg.label = \"Spotify Sander\";\n} else if (label == \"Fien\") {\n    msg.label = \"Spotify Fien\";\n} else if (label == \"Dide\") {\n    msg.label = \"Spotify Dide\";\n} else if (label == \"MPD Radio\") {\n    msg.label = \"Radio\";\n} \n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 960,
        "wires": [
            [
                "9194324548900780",
                "633064a13b1dde11"
            ]
        ]
    },
    {
        "id": "633064a13b1dde11",
        "type": "debug",
        "z": "1044a74b4adb9c61",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 960,
        "wires": []
    },
    {
        "id": "cdbbb3bd404d4327",
        "type": "subflow:ee7dfcae62a1d1d1",
        "z": "1044a74b4adb9c61",
        "name": "",
        "x": 1050,
        "y": 1200,
        "wires": []
    },
    {
        "id": "4d286b6d9f925228",
        "type": "change",
        "z": "1044a74b4adb9c61",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "Gemeten",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 180,
        "wires": [
            [
                "b5eadadbf165db94",
                "76595fb85bdd4174"
            ]
        ]
    },
    {
        "id": "fdb0652c84e550c2",
        "type": "comment",
        "z": "1044a74b4adb9c61",
        "name": "Displayitem 1",
        "info": "Make sure to add required fields:\nmsg.displayitem (align with configured displayitem)\nmsg.device (B+ device, used in MQTT topic)\nmsg.page (to which page this displayitem belongs to)",
        "x": 170,
        "y": 140,
        "wires": []
    },
    {
        "id": "ab309423bbda3afd",
        "type": "subflow:ee7dfcae62a1d1d1",
        "z": "1044a74b4adb9c61",
        "name": "",
        "x": 730,
        "y": 320,
        "wires": []
    },
    {
        "id": "f29ff5d6e8edf9ae",
        "type": "debug",
        "z": "1044a74b4adb9c61",
        "name": "debug 21",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 380,
        "wires": []
    },
    {
        "id": "ea4f1a85e58e0a3c",
        "type": "change",
        "z": "1044a74b4adb9c61",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "Ingesteld",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 320,
        "wires": [
            [
                "ab309423bbda3afd",
                "f29ff5d6e8edf9ae"
            ]
        ]
    },
    {
        "id": "bac5188e1cbd80f1",
        "type": "comment",
        "z": "1044a74b4adb9c61",
        "name": "Displayitem 2 (aangepast blok)",
        "info": "",
        "x": 230,
        "y": 280,
        "wires": []
    },
    {
        "id": "25abc7ea7f798fa2",
        "type": "server-state-changed",
        "z": "1044a74b4adb9c61",
        "name": "Woonkamer temperatuur",
        "server": "c5f56a3a.f3f838",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "sensor.woonkamer_temperature",
        "entityIdType": "exact",
        "outputInitially": true,
        "stateType": "num",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "uom",
                "propertyType": "msg",
                "value": "$entity().attributes.unit_of_measurement",
                "valueType": "jsonata"
            },
            {
                "property": "label",
                "propertyType": "msg",
                "value": "$entity().attributes.friendly_name",
                "valueType": "jsonata"
            },
            {
                "property": "displayitem",
                "propertyType": "msg",
                "value": "1",
                "valueType": "str"
            },
            {
                "property": "device",
                "propertyType": "msg",
                "value": "#:(file)::bplusdevice",
                "valueType": "flow"
            },
            {
                "property": "page",
                "propertyType": "msg",
                "value": "main",
                "valueType": "str"
            }
        ],
        "x": 210,
        "y": 180,
        "wires": [
            [
                "4d286b6d9f925228"
            ]
        ]
    },
    {
        "id": "199a03230e204edc",
        "type": "server-state-changed",
        "z": "1044a74b4adb9c61",
        "name": "",
        "server": "c5f56a3a.f3f838",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "sensor.spotify_now_playing",
        "entityIdType": "exact",
        "outputInitially": true,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "uom",
                "propertyType": "msg",
                "value": "$entity().attributes.unit_of_measurement",
                "valueType": "jsonata"
            },
            {
                "property": "title",
                "propertyType": "msg",
                "value": "Now playing",
                "valueType": "str"
            },
            {
                "property": "source",
                "propertyType": "msg",
                "value": "$entity().attributes.source",
                "valueType": "jsonata"
            },
            {
                "property": "media_title",
                "propertyType": "msg",
                "value": "$entity().attributes.media_title",
                "valueType": "jsonata"
            },
            {
                "property": "media_artist",
                "propertyType": "msg",
                "value": "$entity().attributes.media_artist",
                "valueType": "jsonata"
            },
            {
                "property": "page",
                "propertyType": "msg",
                "value": "muziek",
                "valueType": "str"
            },
            {
                "property": "device",
                "propertyType": "msg",
                "value": "#:(file)::bplusdevice",
                "valueType": "flow"
            },
            {
                "property": "displayitem",
                "propertyType": "msg",
                "value": "11",
                "valueType": "str"
            }
        ],
        "x": 230,
        "y": 840,
        "wires": [
            [
                "0673d76b8e2c2b11"
            ]
        ]
    },
    {
        "id": "74f02ff1ad5a5726",
        "type": "server-state-changed",
        "z": "1044a74b4adb9c61",
        "name": "",
        "server": "c5f56a3a.f3f838",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "sensor.buienalarm_precipitation_forecast_total",
        "entityIdType": "exact",
        "outputInitially": true,
        "stateType": "num",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "uom",
                "propertyType": "msg",
                "value": "$entity().attributes.unit_of_measurement",
                "valueType": "jsonata"
            },
            {
                "property": "title",
                "propertyType": "msg",
                "value": "Regen 15min",
                "valueType": "str"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "buttonplus/wk1/main/in/5/",
                "valueType": "str"
            },
            {
                "property": "page",
                "propertyType": "msg",
                "value": "overdag",
                "valueType": "str"
            },
            {
                "property": "device",
                "propertyType": "msg",
                "value": "#:(file)::bplusdevice",
                "valueType": "flow"
            },
            {
                "property": "displayitem",
                "propertyType": "msg",
                "value": "10",
                "valueType": "str"
            }
        ],
        "x": 290,
        "y": 1140,
        "wires": [
            [
                "708d814b09a36bd2"
            ]
        ]
    },
    {
        "id": "7f2d36bb6cd2f0de",
        "type": "server-state-changed",
        "z": "1044a74b4adb9c61",
        "name": "Ingestelde temperatuur",
        "server": "c5f56a3a.f3f838",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "climate.woonkamer",
        "entityIdType": "exact",
        "outputInitially": true,
        "stateType": "num",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": false,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "$entity().attributes.temperature",
                "valueType": "jsonata"
            },
            {
                "property": "uom",
                "propertyType": "msg",
                "value": "$entity().attributes.unit_of_measurement",
                "valueType": "jsonata"
            },
            {
                "property": "label",
                "propertyType": "msg",
                "value": "$entity().attributes.friendly_name",
                "valueType": "jsonata"
            },
            {
                "property": "displayitem",
                "propertyType": "msg",
                "value": "2",
                "valueType": "str"
            },
            {
                "property": "device",
                "propertyType": "msg",
                "value": "#:(file)::bplusdevice",
                "valueType": "flow"
            },
            {
                "property": "page",
                "propertyType": "msg",
                "value": "main",
                "valueType": "str"
            }
        ],
        "x": 200,
        "y": 320,
        "wires": [
            [
                "ea4f1a85e58e0a3c"
            ]
        ]
    },
    {
        "id": "ae778fc259e59470",
        "type": "subflow:ee7dfcae62a1d1d1",
        "z": "1044a74b4adb9c61",
        "name": "",
        "x": 730,
        "y": 520,
        "wires": []
    },
    {
        "id": "f4d3696a8f6a19fa",
        "type": "debug",
        "z": "1044a74b4adb9c61",
        "name": "debug 25",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 580,
        "wires": []
    },
    {
        "id": "b5d0fe5ee189f94f",
        "type": "change",
        "z": "1044a74b4adb9c61",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "device",
                "pt": "msg",
                "to": "wk1",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "displayitem",
                "pt": "msg",
                "to": "3",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 520,
        "wires": [
            [
                "ae778fc259e59470"
            ]
        ]
    },
    {
        "id": "894ba0312a96aadb",
        "type": "comment",
        "z": "1044a74b4adb9c61",
        "name": "Displayitem 6 (aangepast blok)",
        "info": "",
        "x": 230,
        "y": 480,
        "wires": []
    },
    {
        "id": "c4590a066bf2df4f",
        "type": "server-state-changed",
        "z": "1044a74b4adb9c61",
        "name": "Tijd",
        "server": "c5f56a3a.f3f838",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "sensor.time",
        "entityIdType": "exact",
        "outputInitially": true,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "displayitem",
                "propertyType": "msg",
                "value": "6",
                "valueType": "str"
            },
            {
                "property": "device",
                "propertyType": "msg",
                "value": "#:(file)::bplusdevice",
                "valueType": "flow"
            },
            {
                "property": "page",
                "propertyType": "msg",
                "value": "main",
                "valueType": "str"
            }
        ],
        "x": 150,
        "y": 520,
        "wires": [
            [
                "b5d0fe5ee189f94f"
            ]
        ]
    },
    {
        "id": "9bcaa6cdef2cc259",
        "type": "server-state-changed",
        "z": "1044a74b4adb9c61",
        "name": "Datum",
        "server": "c5f56a3a.f3f838",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "sensor.datum_nl",
        "entityIdType": "exact",
        "outputInitially": true,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "label",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "displayitem",
                "propertyType": "msg",
                "value": "6",
                "valueType": "str"
            },
            {
                "property": "device",
                "propertyType": "msg",
                "value": "#:(file)::bplusdevice",
                "valueType": "flow"
            },
            {
                "property": "page",
                "propertyType": "msg",
                "value": "main",
                "valueType": "str"
            }
        ],
        "x": 150,
        "y": 580,
        "wires": [
            [
                "b5d0fe5ee189f94f"
            ]
        ]
    },
    {
        "id": "4a7e09d84565482f",
        "type": "function",
        "z": "1044a74b4adb9c61",
        "name": "mm naar voorspelling",
        "func": "var mmpu = msg.payload*4;\nvar description;\nif (mmpu ==0){\n    description = \"(droog)\";\n} else if (mmpu < 1) {\n    description = \"(licht)\";\n} else if (mmpu < 5) {\n    description = \"(matig)\";\n} else {\n    description = \"(zwaar)\";\n}\nmsg.payload = mmpu.toString()+\" mm/u \"+description;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 1200,
        "wires": [
            [
                "cdbbb3bd404d4327"
            ]
        ]
    },
    {
        "id": "708d814b09a36bd2",
        "type": "change",
        "z": "1044a74b4adb9c61",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "Regen komende 15 min",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "uom",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 1140,
        "wires": [
            [
                "4a7e09d84565482f"
            ]
        ]
    },
    {
        "id": "4e09035911d2e244",
        "type": "server-state-changed",
        "z": "1044a74b4adb9c61",
        "name": "",
        "server": "c5f56a3a.f3f838",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "sensor.buttonplus_prio_notification",
        "entityIdType": "exact",
        "outputInitially": true,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            },
            {
                "property": "label",
                "propertyType": "msg",
                "value": "$entity(). attributes.label",
                "valueType": "jsonata"
            },
            {
                "property": "toplabel",
                "propertyType": "msg",
                "value": "$entity().attributes.toplabel",
                "valueType": "jsonata"
            },
            {
                "property": "ledrgb",
                "propertyType": "msg",
                "value": "$entity().attributes.frontled",
                "valueType": "jsonata"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "buttonplus/wk1/button/main/2",
                "valueType": "str"
            },
            {
                "property": "device",
                "propertyType": "msg",
                "value": "#:(file)::bplusdevice",
                "valueType": "flow"
            }
        ],
        "x": 210,
        "y": 1320,
        "wires": [
            [
                "c9a98ceba76c6c47",
                "52071c63d9f364d1"
            ]
        ]
    },
    {
        "id": "c9a98ceba76c6c47",
        "type": "function",
        "z": "1044a74b4adb9c61",
        "name": "prepare MQTT topics",
        "func": "function sleep(ms) {\n    return new Promise((resolve) => {\n        setTimeout(resolve, ms);\n    });\n}\n\nvar newMsg = {};\n// send label\nnewMsg.payload = msg.label;\nif (newMsg.payload == \"\") { newMsg.payload = \" \" }\nnewMsg.topic = msg.topic+\"/label\";\nnode.send(newMsg);\nawait sleep(20);\n\n// send toplabel\nnewMsg.payload = msg.toplabel;\nif (newMsg.payload == \"\") { newMsg.payload = \" \" }\nnewMsg.topic = msg.topic+\"/toplabel\";\nnode.send(newMsg);\nawait sleep(20);\n// send led color\nnewMsg.payload = msg.ledrgb;\nnewMsg.topic = msg.topic+\"/ledrgb\";\nnode.send(newMsg);\nawait sleep(20);\n// send led state\n// newMsg.payload = msg.led[i];\n// newMsg.topic = msg.topic + i + \"/led\";\n// node.send(newMsg);\n\n\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1320,
        "wires": [
            [
                "bda2c11f55cdc105"
            ]
        ]
    },
    {
        "id": "bda2c11f55cdc105",
        "type": "mqtt out",
        "z": "1044a74b4adb9c61",
        "name": "Update buttons",
        "topic": "",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e6dbd5fb3f32ec20",
        "x": 760,
        "y": 1320,
        "wires": []
    },
    {
        "id": "52071c63d9f364d1",
        "type": "debug",
        "z": "1044a74b4adb9c61",
        "name": "debug 27",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 1400,
        "wires": []
    },
    {
        "id": "0673d76b8e2c2b11",
        "type": "change",
        "z": "1044a74b4adb9c61",
        "name": "",
        "rules": [],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 840,
        "wires": [
            [
                "9194324548900780"
            ]
        ]
    },
    {
        "id": "3cdfccdf2992d956",
        "type": "server-state-changed",
        "z": "1044a74b4adb9c61",
        "name": "",
        "server": "c5f56a3a.f3f838",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "sensor.delft_temperature",
        "entityIdType": "exact",
        "outputInitially": true,
        "stateType": "num",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            },
            {
                "property": "device",
                "propertyType": "msg",
                "value": "#:(file)::bplusdevice",
                "valueType": "flow"
            },
            {
                "property": "page",
                "propertyType": "msg",
                "value": "overdag",
                "valueType": "str"
            },
            {
                "property": "displayitem",
                "propertyType": "msg",
                "value": "12",
                "valueType": "str"
            },
            {
                "property": "uom",
                "propertyType": "msg",
                "value": "$entity().attributes.unit_of_measurement",
                "valueType": "jsonata"
            }
        ],
        "x": 180,
        "y": 1520,
        "wires": [
            [
                "216548165e9963a6",
                "0e40ee5e3d856362"
            ]
        ]
    },
    {
        "id": "dabac98a4a72e082",
        "type": "subflow:ee7dfcae62a1d1d1",
        "z": "1044a74b4adb9c61",
        "name": "",
        "x": 870,
        "y": 1500,
        "wires": []
    },
    {
        "id": "226264a4d9e714a0",
        "type": "debug",
        "z": "1044a74b4adb9c61",
        "name": "debug 31",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 1560,
        "wires": []
    },
    {
        "id": "216548165e9963a6",
        "type": "change",
        "z": "1044a74b4adb9c61",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "Buiten",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 1500,
        "wires": [
            [
                "dabac98a4a72e082",
                "226264a4d9e714a0"
            ]
        ]
    },
    {
        "id": "6d3cebcc6d08db86",
        "type": "subflow:ee7dfcae62a1d1d1",
        "z": "1044a74b4adb9c61",
        "name": "",
        "x": 870,
        "y": 1620,
        "wires": []
    },
    {
        "id": "dcdc56b66844d233",
        "type": "debug",
        "z": "1044a74b4adb9c61",
        "name": "debug 32",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 1680,
        "wires": []
    },
    {
        "id": "0e40ee5e3d856362",
        "type": "change",
        "z": "1044a74b4adb9c61",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "page",
                "pt": "msg",
                "to": "avond",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "displayitem",
                "pt": "msg",
                "to": "13",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "Buiten",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 1560,
        "wires": [
            [
                "6d3cebcc6d08db86",
                "dcdc56b66844d233"
            ]
        ]
    },
    {
        "id": "60d3c66fbc8eb9a5",
        "type": "server-state-changed",
        "z": "1044a74b4adb9c61",
        "name": "",
        "server": "c5f56a3a.f3f838",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "input_select.media_source_selector",
        "entityIdType": "exact",
        "outputInitially": true,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "label",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            },
            {
                "property": "page",
                "propertyType": "msg",
                "value": "muziek",
                "valueType": "str"
            },
            {
                "property": "device",
                "propertyType": "msg",
                "value": "#:(file)::bplusdevice",
                "valueType": "flow"
            },
            {
                "property": "displayitem",
                "propertyType": "msg",
                "value": "11",
                "valueType": "str"
            }
        ],
        "x": 250,
        "y": 960,
        "wires": [
            [
                "73268ba66a7f962a"
            ]
        ]
    },
    {
        "id": "63458f075f671caa",
        "type": "server-state-changed",
        "z": "1044a74b4adb9c61",
        "name": "HA Input Select",
        "server": "c5f56a3a.f3f838",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "input_select.buttonplus_wk1_menuselector",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "#:(file)::bplusconfigdevice.pagetopic",
                "valueType": "flow"
            }
        ],
        "x": 1000,
        "y": 200,
        "wires": [
            [
                "3f37e4b1bdaca3d3",
                "e7cc598d7a6cc9f5"
            ]
        ],
        "info": "Prepare msg.page, to be filled with the requested page name"
    },
    {
        "id": "3f37e4b1bdaca3d3",
        "type": "mqtt out",
        "z": "1044a74b4adb9c61",
        "name": "",
        "topic": "",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e6dbd5fb3f32ec20",
        "x": 1210,
        "y": 200,
        "wires": []
    },
    {
        "id": "c90528d1b3e7c241",
        "type": "function",
        "z": "1044a74b4adb9c61",
        "name": "01 local config",
        "func": "// Configuration goes here:\nvar bplusdevice = \"wk1\"; // the device this page belongs to\n\n// nothing to be changed below this line\n// -------------------------------------\n\n// retrieve existing config from disk, or create when non-existent\n// this retrieves configuration for all configured B+ devices\nvar bplusconfig = global.get(\"bplusconfig\", \"file\");\n\n\n// save the configuration and parameters to this flow, for use\nflow.set('bplusdevice', bplusdevice, \"file\");\nflow.set('bplusconfigdevice', bplusconfig[bplusdevice], \"file\");\n\n\n\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "6e980a863a83beeb",
        "type": "inject",
        "z": "1044a74b4adb9c61",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 60,
        "wires": [
            [
                "c90528d1b3e7c241"
            ]
        ]
    },
    {
        "id": "e7cc598d7a6cc9f5",
        "type": "mqtt out",
        "z": "1044a74b4adb9c61",
        "name": "",
        "topic": "buttonplus/wk1/display/main/4/value",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e6dbd5fb3f32ec20",
        "x": 1210,
        "y": 320,
        "wires": []
    },
    {
        "id": "f8210e82d8b29a39",
        "type": "comment",
        "z": "1044a74b4adb9c61",
        "name": "Issue new page title to MQTT",
        "info": "",
        "x": 1220,
        "y": 280,
        "wires": []
    },
    {
        "id": "c5f56a3a.f3f838",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": "30",
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    }
]
