node_red_update_display.flow
[{"id":"fd2bb19b59cf119e","type":"subflow","name":"B+ MQTT to main","info":"","category":"","in":[{"x":80,"y":100,"wires":[{"id":"94a06ba2b812bfa9"}]}],"out":[],"env":[],"meta":{},"color":"#DDAA99"},{"id":"0184922774fbede3","type":"mqtt out","z":"fd2bb19b59cf119e","name":"value","topic":"","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e6dbd5fb3f32ec20","x":730,"y":360,"wires":[]},{"id":"59db74a4adc9a31f","type":"change","z":"fd2bb19b59cf119e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"label","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":300,"wires":[["9169f4d5de7f5aa2"]]},{"id":"9169f4d5de7f5aa2","type":"mqtt out","z":"fd2bb19b59cf119e","name":"title","topic":"","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e6dbd5fb3f32ec20","x":730,"y":300,"wires":[]},{"id":"cf7dbf4993cc51d8","type":"mqtt out","z":"fd2bb19b59cf119e","name":"uom","topic":"","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e6dbd5fb3f32ec20","x":730,"y":240,"wires":[]},{"id":"e477e4949ea48f65","type":"change","z":"fd2bb19b59cf119e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"uom","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":240,"wires":[["cf7dbf4993cc51d8"]]},{"id":"e387eac66190fe70","type":"function","z":"fd2bb19b59cf119e","name":"concat uom","func":"var appendix='uom'\nmsg.topic = msg.topic.concat(appendix)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":240,"wires":[["e477e4949ea48f65"]]},{"id":"3c67118b2fe0bb35","type":"function","z":"fd2bb19b59cf119e","name":"concat label","func":"var appendix='label'\nmsg.topic = msg.topic.concat(appendix)\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":300,"wires":[["59db74a4adc9a31f"]]},{"id":"849c57c4154e9b1c","type":"function","z":"fd2bb19b59cf119e","name":"concat value","func":"var appendix='value'\nmsg.topic = msg.topic.concat(appendix)\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":360,"wires":[["0184922774fbede3"]]},{"id":"94a06ba2b812bfa9","type":"function","z":"fd2bb19b59cf119e","name":"set topic","func":"msg.topic = \"buttonplus/\"+msg.device+\"/display/\"+msg.displayitem+\"/\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":140,"y":300,"wires":[["e387eac66190fe70","3c67118b2fe0bb35","849c57c4154e9b1c"]]},{"id":"e6dbd5fb3f32ec20","type":"mqtt-broker","name":"","broker":"192.168.1.7","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"dda605bd4ff9ca6b","type":"tab","label":"Button+","disabled":false,"info":"","env":[]},{"id":"def85d44acd7ae1f","type":"subflow:fd2bb19b59cf119e","z":"dda605bd4ff9ca6b","name":"","x":730,"y":100,"wires":[]},{"id":"5585d907fa2f3f30","type":"debug","z":"dda605bd4ff9ca6b","name":"debug 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":720,"y":160,"wires":[]},{"id":"5e63cffe051c7270","type":"switch","z":"dda605bd4ff9ca6b","name":"","property":"source","propertyType":"msg","rules":[{"t":"eq","v":"Woonkamer","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":480,"y":700,"wires":[["4335ac1ad2ec79e0"],["20d33fb7fb73d171"]]},{"id":"4335ac1ad2ec79e0","type":"change","z":"dda605bd4ff9ca6b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.media_artist & \" - \" & msg.media_title","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":680,"wires":[["e83ea66daaf0b095","7a94d2dc5523d3a9"]]},{"id":"e83ea66daaf0b095","type":"subflow:fd2bb19b59cf119e","z":"dda605bd4ff9ca6b","name":"","x":960,"y":700,"wires":[]},{"id":"20d33fb7fb73d171","type":"change","z":"dda605bd4ff9ca6b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":720,"wires":[["e83ea66daaf0b095"]]},{"id":"678539c7ea352922","type":"function","z":"dda605bd4ff9ca6b","name":"concat value","func":"var appendix='value'\nmsg.topic = msg.topic.concat(appendix)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":820,"wires":[[]]},{"id":"7a94d2dc5523d3a9","type":"debug","z":"dda605bd4ff9ca6b","name":"debug 8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1090,"y":860,"wires":[]},{"id":"5c4f8fd575f74583","type":"subflow:fd2bb19b59cf119e","z":"dda605bd4ff9ca6b","name":"","x":689,"y":886,"wires":[]},{"id":"85f97a48c12dd796","type":"debug","z":"dda605bd4ff9ca6b","name":"debug 9","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"uom","targetType":"msg","statusVal":"","statusType":"auto","x":579,"y":1006,"wires":[]},{"id":"840bde6727a030a0","type":"change","z":"dda605bd4ff9ca6b","name":"","rules":[{"t":"set","p":"label","pt":"msg","to":"Gemeten","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":100,"wires":[["def85d44acd7ae1f","5585d907fa2f3f30"]]},{"id":"77ac129d00b347c1","type":"comment","z":"dda605bd4ff9ca6b","name":"Displayitem 1","info":"","x":170,"y":60,"wires":[]},{"id":"39a53e1d9a445841","type":"subflow:fd2bb19b59cf119e","z":"dda605bd4ff9ca6b","name":"","x":730,"y":240,"wires":[]},{"id":"7d3326a0ec6856fe","type":"debug","z":"dda605bd4ff9ca6b","name":"debug 21","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":720,"y":300,"wires":[]},{"id":"95930f12d9e9a004","type":"change","z":"dda605bd4ff9ca6b","name":"","rules":[{"t":"set","p":"label","pt":"msg","to":"Ingesteld","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":240,"wires":[["39a53e1d9a445841","7d3326a0ec6856fe"]]},{"id":"75b758a921fca3eb","type":"comment","z":"dda605bd4ff9ca6b","name":"Displayitem 2 (aangepast blok)","info":"","x":230,"y":200,"wires":[]},{"id":"bc3fea2c6f17b7fa","type":"api-current-state","z":"dda605bd4ff9ca6b","name":"","server":"c5f56a3a.f3f838","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.delft_precipitation_forecast_total","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":280,"y":620,"wires":[[]]},{"id":"8f62a92116d42782","type":"server-state-changed","z":"dda605bd4ff9ca6b","name":"Woonkamer temperatuur","server":"c5f56a3a.f3f838","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"sensor.woonkamer_temperature","entityIdType":"exact","outputInitially":true,"stateType":"num","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"uom","propertyType":"msg","value":"$entity().attributes.unit_of_measurement","valueType":"jsonata"},{"property":"label","propertyType":"msg","value":"$entity().attributes.friendly_name","valueType":"jsonata"},{"property":"displayitem","propertyType":"msg","value":"1","valueType":"str"},{"property":"device","propertyType":"msg","value":"wk1","valueType":"str"}],"x":210,"y":100,"wires":[["840bde6727a030a0"]]},{"id":"06aea980c602425e","type":"server-state-changed","z":"dda605bd4ff9ca6b","name":"","server":"c5f56a3a.f3f838","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"media_player.spotify_sbalk","entityIdType":"exact","outputInitially":true,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"uom","propertyType":"msg","value":"$entity().attributes.unit_of_measurement","valueType":"jsonata"},{"property":"title","propertyType":"msg","value":"Now playing","valueType":"str"},{"property":"topic","propertyType":"msg","value":"buttonplus/wk1/main/in/4/","valueType":"str"},{"property":"source","propertyType":"msg","value":"$entity().attributes.source","valueType":"jsonata"},{"property":"media_title","propertyType":"msg","value":"$entity().attributes.media_title","valueType":"jsonata"},{"property":"media_artist","propertyType":"msg","value":"$entity().attributes.media_artist","valueType":"jsonata"}],"x":240,"y":700,"wires":[["5e63cffe051c7270"]]},{"id":"1233d0753de517f0","type":"server-state-changed","z":"dda605bd4ff9ca6b","name":"","server":"c5f56a3a.f3f838","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"sensor.buienalarm_precipitation_forecast_total","entityIdType":"exact","outputInitially":true,"stateType":"num","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"uom","propertyType":"msg","value":"$entity().attributes.unit_of_measurement","valueType":"jsonata"},{"property":"title","propertyType":"msg","value":"Regen 15min","valueType":"str"},{"property":"topic","propertyType":"msg","value":"buttonplus/wk1/main/in/5/","valueType":"str"}],"x":330,"y":880,"wires":[["5c4f8fd575f74583","85f97a48c12dd796"]]},{"id":"0b4dbfb79cec893a","type":"server-state-changed","z":"dda605bd4ff9ca6b","name":"Ingestelde temperatuur","server":"c5f56a3a.f3f838","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"climate.woonkamer","entityIdType":"exact","outputInitially":true,"stateType":"num","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"$entity().attributes.temperature","valueType":"jsonata"},{"property":"uom","propertyType":"msg","value":"$entity().attributes.unit_of_measurement","valueType":"jsonata"},{"property":"label","propertyType":"msg","value":"$entity().attributes.friendly_name","valueType":"jsonata"},{"property":"displayitem","propertyType":"msg","value":"2","valueType":"str"},{"property":"device","propertyType":"msg","value":"wk1","valueType":"str"}],"x":200,"y":240,"wires":[["95930f12d9e9a004"]]},{"id":"173ceffe137b21a9","type":"subflow:fd2bb19b59cf119e","z":"dda605bd4ff9ca6b","name":"","x":730,"y":440,"wires":[]},{"id":"dcf28ad761fd5922","type":"debug","z":"dda605bd4ff9ca6b","name":"debug 25","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":720,"y":500,"wires":[]},{"id":"e0ba654526d58375","type":"change","z":"dda605bd4ff9ca6b","name":"","rules":[{"t":"set","p":"device","pt":"msg","to":"wk1","tot":"str"},{"t":"set","p":"displayitem","pt":"msg","to":"6","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":440,"wires":[["173ceffe137b21a9"]]},{"id":"4ae39b93e4e5d9c9","type":"comment","z":"dda605bd4ff9ca6b","name":"Displayitem 6 (aangepast blok)","info":"","x":230,"y":400,"wires":[]},{"id":"46cba9840f0bc890","type":"server-state-changed","z":"dda605bd4ff9ca6b","name":"Tijd","server":"c5f56a3a.f3f838","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"sensor.time","entityIdType":"exact","outputInitially":true,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"displayitem","propertyType":"msg","value":"6","valueType":"str"},{"property":"device","propertyType":"msg","value":"wk1","valueType":"str"}],"x":150,"y":440,"wires":[["e0ba654526d58375"]]},{"id":"13befc1ff21e3205","type":"server-state-changed","z":"dda605bd4ff9ca6b","name":"Datum","server":"c5f56a3a.f3f838","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"sensor.date","entityIdType":"exact","outputInitially":true,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"label","propertyType":"msg","value":"","valueType":"entityState"},{"property":"displayitem","propertyType":"msg","value":"6","valueType":"str"},{"property":"device","propertyType":"msg","value":"wk1","valueType":"str"}],"x":150,"y":500,"wires":[["69c067cb360038b9"]]},{"id":"69c067cb360038b9","type":"moment","z":"dda605bd4ff9ca6b","name":"format date","topic":"","input":"label","inputType":"msg","inTz":"Europe/Amsterdam","adjAmount":0,"adjType":"days","adjDir":"add","format":"D MMMM","locale":"nl","output":"label","outputType":"msg","outTz":"Europe/Amsterdam","x":290,"y":500,"wires":[["e0ba654526d58375"]]},{"id":"c5f56a3a.f3f838","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]
