treintijden/flow.json
[
    {
        "id": "4f0abd55c08009b3",
        "type": "tab",
        "label": "color picker",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c709b4abfa94494f",
        "type": "ui_colour_picker",
        "z": "4f0abd55c08009b3",
        "name": "",
        "label": "color",
        "group": "faac2bd50eaf40f2",
        "format": "hex",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "true",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "bfceddebfe584534"
            ]
        ]
    },
    {
        "id": "aef635ab1c25311e",
        "type": "debug",
        "z": "4f0abd55c08009b3",
        "name": "debug 36",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 80,
        "wires": []
    },
    {
        "id": "12572fbf9ed26367",
        "type": "mqtt out",
        "z": "4f0abd55c08009b3",
        "name": "",
        "topic": "buttonplus/wk1/button/main/2/ledrgb",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e6dbd5fb3f32ec20",
        "x": 610,
        "y": 160,
        "wires": []
    },
    {
        "id": "bfceddebfe584534",
        "type": "function",
        "z": "4f0abd55c08009b3",
        "name": "function 2",
        "func": "msg.payload = parseInt(msg.payload, 16) ;\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 160,
        "wires": [
            [
                "aef635ab1c25311e",
                "12572fbf9ed26367",
                "c886485f458c9bda"
            ]
        ]
    },
    {
        "id": "c886485f458c9bda",
        "type": "ui_text",
        "z": "4f0abd55c08009b3",
        "group": "faac2bd50eaf40f2",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "DEC color",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 530,
        "y": 240,
        "wires": []
    },
    {
        "id": "faac2bd50eaf40f2",
        "type": "ui_group",
        "name": "Spotify",
        "tab": "89dd2c26e3159f28",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e6dbd5fb3f32ec20",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.7",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "89dd2c26e3159f28",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
